@model IEnumerable<SiteYonetimProje.Models.GorevModel.Gorev>
@{
    ViewBag.Title = "TemizlikRandevusu";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="row">
    <div class="col-md-5 col-sm-5 ">
        <div class="x_panel">
            @if (TempData["SaatKontrolu"] != null)
            {
                <p class="alert alert-danger" id="successMessage">@TempData["SaatKontrolu"]</p>
            }
            else if (TempData["RandevuBasarili"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["RandevuBasarili"]</p>
            }
            <div class="x_title">
                <h2>Temizlik Randevusu Oluşturma</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Saat <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 ">

                            <select class="form-control" name="saat">

                                <option value="9-11">9-11</option>
                                <option value="12-14">12-14</option>
                                <option value="15-17">15-17</option>
                            </select>



                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Dolu saatler
                        </label>
                        @if (ViewBag.TarihKontrol != 0)
                        {
                            foreach (var item in Model)
                            {
                                <label class="col-form-label col-md-1 col-sm-1 label-align">
                                    @item.Saat
                                </label>
                            }
                        }



                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button class="btn btn-primary" type="reset">Sıfırla</button>
                            @if (ViewBag.GorevliId != null)
                            {
                                <button type="submit" class="btn btn-success" name="id" value="@ViewBag.GorevliId">Oluştur</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


