@model IEnumerable<SiteYonetimProje.Models.ApartmanModel.ApartmanBilgileri>
@{
    ViewBag.Title = "ApartmanListesi";
    Layout = "~/Views/Shared/_GenelYonetici.cshtml";
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        @if (TempData["yoneticiAtamaBasarili"] != null)
        {
            <h2 class="alert alert-success" id="successMessage">@TempData["yoneticiAtamaBasarili"]</h2>
        }
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Yönetici Atama İşlemi<small>Yöneticisi bulunmayan apartmana yönetici atama</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">


                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Apartman Blok</th>
                                            <th>Apartman No</th>
                                            <th>Daire Sayısı</th>
                                            <th>Yöneticiye Mesaj</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ApartmanBlok</td>
                                                <td>@item.ApartmanNo</td>
                                                <td>@item.DaireSayisi</td>
                                                <td>@Html.ActionLink("Yaz", "ApartmanaMesaj", "GenelYonetici", new { id = item.Id }, new { @class = "btn btn-success" })</td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
